/* ---
   
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  ---font weight
  defualt: 400
  500
  600
  700

  ---line height
  defualt: 1
  1.05
  1.6

  ---color
  primary: #e67e22
  Tints:#fdf2e9;
  shades: #cf711f
  #555
  #333
  ___border rediaus
  
  defualt: 9px;
    
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* background-color: #eee; */
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  margin: 0 auto;
  max-width: 120rem;
}
.logo {
  height: 2.2rem;
}

.order {
  display: inline;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 11px;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--empty:link,
.btn--empty:visited {
  /* border: 2px solid #e67e22; */
  box-shadow: inset 0 0 0 2px #e67e22;
  color: #555;
}

/* ***************** */
/* ** Bar section** */
/* ***************** */
.bar {
  background-color: #e98b38;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  margin-bottom: 4.8rem;
}
.bar-input-feilds {
  display: flex;
  align-items: center;
}
.bar-input-feilds input,
.bar-input-feilds select {
  height: 3.4rem;
  border: none;
  /* border-radius: 9px; */
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.bar-input-feilds select {
  margin-right: 2.4rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.bar-input-feilds input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.bar-input-feilds input::placeholder {
  color: #aaa;
  padding-left: 1.2rem;
}

.btn-search {
  background-color: #b8651b;
  color: #fff;
  padding: 0.8rem 1.2rem;
  width: 8rem;
  height: 3.2rem;
  border-radius: 13px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn-icon {
  stroke: #fff;
  width: 1.6rem;
  display: inline;
}
.bar-menues-feilds {
  display: flex;
  align-items: center;
  height: 6.4rem;
}
.bar-menue {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  align-items: center;

  padding: 1.2rem 2.4rem;
}
.bar-menue:first-child {
  border-right: 2px solid #fff;
  margin-right: -1px;
}
.bar-menue:last-child {
  border-left: 2px solid #fff;
  margin-left: -1px;
}
.menue-icon {
  stroke: #fff;
  width: 1.8rem;
  display: inline;
  margin-right: 0.8rem;
}
/* ***************** */
/* ** article body** */
/* ***************** */

.article-container {
  background-color: #eee;
  padding: 0 1.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  padding-bottom: 4.8rem;
}
/* ***************** */
/* ** recommendation section** */
/* ***************** */
.section-recommendation {
  grid-column: 1/4;
}
.recommendation-heading {
  background-color: #e67e22;
  padding: 1.6rem 1.6rem;
  font-size: 1.8rem;
}
.recommendaion-text-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 2.4rem;
}
.recommendation-text {
  font-size: 1.4rem;
  padding-right: 4.8rem;
}
.icon-recommendaion-text {
  width: 9.8rem;
  height: 9.8rem;
  display: block;
  margin-right: 2.4rem;
}
/* ***************** */
/* ** category section** */
/* ***************** */
.section-category {
  grid-row: 2/4;
  background-color: #fff;
}
.section-category header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.2rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.section-category header h3 {
  color: #555;
}

.section-category header:not(:first-child()),
.category-element:not(:nth-child(2)) {
  margin-top: 1.6rem;
}
.category-link {
  color: #e98b38;
  text-decoration: none;
}
.category-element {
  padding: 0 1.2rem;
  font-size: 1.6rem;
}
.category-element h4,
.category-element ul {
  color: #777;
}
.list-container {
  padding: 0 1.2rem;
}
.category-element {
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.border-top {
  border-top: 1px solid #eee;
  padding-top: 1.6rem;
}
.list {
  line-height: 1.6;
  list-style: none;
  font-size: 1.4;
}
.list a {
  text-decoration: none;
}
.list-element {
  color: #555;
  font-weight: 400;
}
/* ***************** */
/* ** gallery section** */
/* ***************** */
.section-gallery {
  grid-column: 2/4;
  background-color: #eea564;
  height: 32rem;
}
.section-gallery header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2.4rem;
}
.section-gallery header h3 {
  font-size: 1.8rem;
}
.section-gallery p {
  font-size: 1.4rem;
}
.btn-gallery {
  display: flex;
  align-items: center;
}
.gallery-icon {
  background-color: #999;
  stroke: #fff;
  height: 1.8rem;
  width: 2.4rem;
  border-radius: 6px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
  padding: 0 2.4rem;
}
.card {
  background-color: #fff;
  padding-bottom: 1.6rem;
  border-radius: 11px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1.2rem 1.2rem rgba(85, 85, 85, 0.5);
}
.card-img {
  width: 100%;
}
.card-text {
  padding: 0 1.6rem;
}
.card-tag {
  font-weight: 600;
  color: #777;
  font-size: 1.2rem;
}
.card-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-bottom: 1.2rem;
}
.price {
  position: absolute;
  background-color: yellow;
  padding: 0.8rem 1.2rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  right: 0;
  top: 50%;
  font-size: 1.2rem;
  font-weight: 600;
}

/* ***************** */
/* ** category section** */
/* ***************** */
.section-cards {
  background-color: #eee;
  grid-column: 2/4;
  height: 56rem;
}
.section-cards header h3 {
  font-size: 1.8rem;
}
.section-cards p {
  font-size: 1.4rem;
}
.section-cards header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  padding-bottom: 2.4rem;
}
.card-radius {
  border-radius: 3px;
  box-shadow: 0 0.8rem 1.2rem rgb(85, 85, 85, 0.75);
}
